body {
  font-family: Arial;
  background: #f0f0f0;
}

.chat {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
}

#mensajes {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 5px;
}

.barra {
  display: flex;
}

.barra input {
  flex: 1;
}

button {
  padding: 10px;
}
