<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Chat Aula</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<div class="chat">
  <h2>Chat del Aula</h2>

  <input id="nombre" placeholder="Tu nombre">

  <div id="mensajes"></div>

  <div class="barra">
    <input id="mensaje" placeholder="Escribe un mensaje">
    <button onclick="enviar()">Enviar</button>
  </div>
</div>

<script>
  const socket = io("https://aula-chat.onrender.com"); // tu URL pública de Render


  socket.on("message", function(msg) {
    const p = document.createElement("p");
    p.textContent = msg;
    document.getElementById("mensajes").appendChild(p);
  });

  function enviar() {
    const nombre = document.getElementById("nombre").value;
    const mensaje = document.getElementById("mensaje").value;

    if (nombre && mensaje) {
      socket.send(nombre + ": " + mensaje);
      document.getElementById("mensaje").value = "";
    }
  }
</script>
</body>
</html>
